@import url("https://fonts.googleapis.com/css2?family=Yaldevi:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Yaldevi", Verdana, Tahoma;
}
html {
  scroll-behavior: smooth;
  height: 100vh;
}
body {
  background-color: #F6F6F6;
  background-image: url(/img/bkrg.png);
  background-repeat: no-repeat;
  color: #000000;
  font-size: 1em;
  height: 100vh;
}

body::-webkit-scrollbar {
  display: none;
}

::selection {
  background: #BD4B4B;
  color: #F6F6F6;

  text-shadow: 1px 1px #000000;
}
.nav {
  margin: 0 auto;
  left: 0px;
  right: 0px;
  width: 100%;
  margin: 0 auto 0 auto;
  background-color: #BD4B4B;
  text-align: center;
}
.nav ul {
  list-style: none;
}
.menu > li {
  position: relative;
  display: inline-block;
}
.menu > li > a {
  display: block;
  padding: 2em 2em;
  color: #F6F6F6;
  text-decoration: none;
  text-shadow: 0px 0px 0px #000000;
}

.menu li a:hover {
  color: #F6F6F6;
  text-shadow: 0px 0px 20px #000000;
  transition: all 0.3s;
}

/*submenu*/

.submenu {
  position: absolute;
  background-color: #F6F6F6;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s;
}
.submenu li a {
  display: block;
  padding: 1em;
  color: #9d9d9d;
  text-align: center;
  text-decoration: none;
}

.menu li:hover .submenu {
  visibility: visible;
  opacity: 1;
}

section {
  padding-top: 5em;
  padding-bottom: 1.8em;
  width: 90%;
  margin: 2.3em auto 2em auto;
  height: 100vh;

}

article h1 {
  text-align: center;
  font-size: 5em;
  margin: 2.3em auto 2em auto;
}
article h2,
h3 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 0.5em;
}
article p {
  margin-bottom: 2em;
  text-align: center;
}
article ol {
  width: 50%;
  margin: auto;
  text-align: center;
  list-style-position: inside;
}

 .card img {
  height: 10em;
  width: 10em;
  margin-left: auto;
  margin-right: auto;
}
section #pr {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-top: 0;
  align-content: space-around;
  flex-direction: column;
}
.card {
  border: 1px solid black;

  border-top: solid;
  border-color: black;
  border-top-width: 1.3em;

  display: flex;
  flex-direction: column;
  padding: 0em 2em 2em 2em;
  width: 20em;
  margin: 2em auto 2em auto;
  text-align: center;
  align-content: center;

  animation-name: card-hover-out;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}
.card:hover{
  animation-name: card-hover-in;
  animation-duration: .5s;
  animation-fill-mode: forwards;


  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
  border: 1px solid #cccccc;
  background-color: white;


}




@keyframes card-hover-in {
  from {
    border-top: solid;
    border-color: black;
    border-top-width: 1.3em;
    transform: scale(1)
  }
  to {
    border: 1px solid #BD4B4B;

    border-top: solid;
    border-color: #BD4B4B;
    border-top-width: 1.3em;
    transform: scale(1.1)

  }
}

@keyframes card-hover-out {
  from {
    border: 1px solid #BD4B4B;

    border-top: solid;
    border-color: #BD4B4B;
    border-top-width: 1.3em;
    transform: scale(1.1)

  }
  to {
    border-top: solid;
    border-color: black;
    border-top-width: 1.3em;
    transform: scale(1)

  }
}

.card h1 {
  text-align: center;
  font-weight: bolder;
  color: #000000;
  margin: 1em auto;
  width: 100%;
}


footer {
  margin: 1em auto auto auto;
  background-color: #BD4B4B;
  text-align: center;
}

section article p a {
  color: #F6F6F6;
  background-color: #BD4B4B;
}

#contactme {
  padding-top: 70vh;
  height: auto;
}




@media (max-width: 700px) {
  .nav {
    width: auto;
    position: unset;
  }
  article h1 {
    font-size: 30px;
  }

  section,
  #contactme {
    padding-top: 0;
    height: auto;
  }
  footer {
    margin: 0;
    width: auto;
  }
  .menu li:hover .submenu {
    visibility: hidden;
  }
  .menu li a:hover {
    color: #eaeaea;
  }
  body,
  html {
    overflow-y: scroll;
    height: 100vh;
  }
}
